@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter - Hello @name</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    private string name = "Duran";

    private void IncrementCount()
    {
        currentCount++;
    }
}
